{% extends "base.html" %}

{% block content %}
<div class="aviso-title">Aviso importante</div>
<div class="aviso-box">
    <span class="main-blue">
        Para o agendamento eletrônico é necessário ter realizado a solicitação de passaporte.
    </span>
    <div class="normal">
        Caso não tenha ainda preenchido sua solicitação, clique no botão abaixo:
    </div>
    <a href="{{ url_for('nova_solicitacao') }}" class="nova-solicitacao-btn">NOVA SOLICITAÇÃO</a>
    <div class="alert">
        <strong>ATENÇÃO:</strong>
        PARA O AGENDAMENTO NO POSTO DE EXPEDIÇÃO DO PASSAPORTE É NECESSÁRIO O PAGAMENTO DA GRU E CORRESPONDENTE COMPENSAÇÃO BANCÁRIA.
    </div>
    <div class="normal" style="margin-top: 15px;">
        Caso queira acompanhar sua solicitação, clique no botão abaixo:
    </div>
    <a href="https://servicos.pf.gov.br/sinpa/realizarAgendamento.do" target="_blank" class="nova-solicitacao-btn" style="margin-top: 10px; display: inline-block;">PROSSEGUIR</a>
</div>
{% endblock %}
