{% extends "base.html" %}

{% block content %}
<div class="alert-warning">
    Não utilize o botão voltar do seu navegador pois todos os dados serão perdidos. Utilize apenas os botões do próprio formulário.
</div>

<div class="title nova-solicitacao">
    Nova solicitação de passaporte
</div>

<div class="main-box">
    <div class="main-box-header">
        Dados pessoais
    </div>
    <div class="main-box-content">
        <a href="#">Documentos</a>
        <a href="#">Dados complementares</a>
        <a href="#">Revisar dados</a>
    </div>
    <div class="main-box-footer">
        (*) Preenchimento Obrigatório
    </div>
</div>
{% endblock %}
